<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video and Chat App</title>
    <script>
        const username = "<%= username %>"
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="lobbyRTC.js"></script>
</head>
<style>
    .chat-rooms {
        border: 1px solid black;
        width: 100%;
        height: 100px;
    }
</style>
<body>
    <h3>Create Room</h3>
    <form action="/room" method="POST">
        <input name="room" type="text" id="create-room" required/>
        <button type="submit">New Room</button>
        <select name="roomType" id="room-type">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
    </form>
    <div class="chat-rooms">
        <% Object.keys(rooms).forEach(id => { %>
            <div class="room">
                <% if (rooms[id].type === 'public') { %>
                    <a href="/<%= id %>"><%= rooms[id].name %></a>
                <% } %>
            </div>
        <% }) %>
    </div>
    <div class="lobby-messages"></div>
</body>
</html>