<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video and Chat App</title>
    <script>
        const roomName = "<%= roomName %>"
        const roomId = "<%= roomId %>"
    </script>
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="roomChat.js"></script>
   
    <link rel="stylesheet" href="/room.css" type="text/css">
</head>
<body>
    <div class="room-container">
        <div class="video-container">
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
            <div class="video-feed"></div>
        </div>
        <div class="share-screen-container">
            <div class="share-screen-feed"></div>
        </div>
        <div class="chat-container">
            <h1>Welcome to <%= roomName %></h1>
            <div class="message-container"></div>
            <div class="submit-message-container">
                <input type="text" class="chat-input" />
                <button>Submit</button>
            </div>
        </div>
    </div>

</body>
</html>